.about {
  padding-top: 50px;
  padding-bottom: 35px;
  padding-left: 50px;
  background: url("../img/about-bg.jpg") no-repeat;
}

.about__title {
  width: 440px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
}

.about__desc {
  width: 525px;
  margin: 0;
  margin-bottom: 20px;
  line-height: 22px;
}
