.apps {
  margin-bottom: 38px;
  padding-top: 32px;
  padding-left: 50px;
  background: #f6f6f6;
}

.apps__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  list-style: none;
}

.apps__list:nth-child(2) {
  margin-bottom: 65px;
  background: $white;
}

.apps__list:last-child {
  justify-content: center;
  margin-bottom: 0;
}

.apps__list-item {
  width: 48%;

  &--neboskreb {
    width: auto;
  }
}

.apps__list-wrap {
  position: relative;
  padding-left: 91px;
  margin-bottom: 20px;

  &--news {
    margin-bottom: 31px;
  }

  &--assistant {
    margin-bottom: 31px;
  }

  &--neboskreb {
    width: 250px;
    padding-left: 95px;
    margin-left: 50px;
  }
}

.apps__list-wrap::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -2px;
  display: block;
  width: 80px;
  height: 80px;
}

.apps__list-wrap--store::before {
  background: url("../img/icon-nl-store.png") no-repeat;
}
.apps__list-wrap--reader::before {
  background: url("../img/icon-nl-reader.png") no-repeat;
}

.apps__list-wrap--news::before {
  top: 6px;
  background: url("../img/icon-nl-news.png") no-repeat;
}

.apps__list-wrap--assistant::before {
  top: 6px;
  left: -4px;
  background: url("../img/icon-nl-assistant.png") no-repeat;
}

.apps__list-wrap--neboskreb::before {
  top: 5px;
  background: url("../img/icon-nl-neboskreb.png") no-repeat;
}


.apps__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 30px;
}

.apps__list:nth-child(2) .apps__title {
  font-size: 25px;
}

.apps__subtitle {
  margin: 0;
}

.apps__button {
  display: inline-block;
  width: 182px;
  height: 48px;
  margin-right: 8px;
  font-size: 0;
  border-radius: 2px;

  &--store {
    background: $black url("../img/btn-app-store.png") no-repeat 50%;
  }

  &--goolge {
    background: $black url("../img/btn-google-play.png") no-repeat 50%;
  }
}

.apps__subscribe {
  display: block;
  width: 145px;
  padding: 9px 0;
  text-align: center;
  color: $white;
  background: #34ace0;
  border-radius: 2px;
}

@media (max-width: 425px) {
  .apps {
    padding-left: 20px;
    padding-right: 20px;
  }
  .apps__list {
    display: block;
  }

  .apps__list:nth-child(2) {
    margin-bottom: 0;
    padding-top: 0;
  }

  .apps__list:last-child {
    padding-top: 0;
  }

  .apps__list-item {
    width: 100%;
    margin-bottom: 15px;
  }

  .apps__list-wrap {
    margin-bottom: 20px;

    &--news {
      margin-bottom: 30px;
    }

    &--assistant {
      margin-bottom: 30px;
    }

    &--neboskreb {
      width: auto;
    }
  }

  .apps__title {
    font-size: 24px;
  }

  .apps__subtitle {
    font-size: 16px;
  }

  .apps__list-wrap::before {
    top: 5px;
  }

  .apps__subscribe {
    width: 100%;
  }

}
