.page-footer {
  padding-top: 28px;
  padding-bottom: 38px;
  text-align: center;
}

.page-footer__title {
  width: 57%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social__link {
  display: flex;
  align-items: center;
  margin: 0 24px;
  font-size: 20px;
  text-decoration: underline;
  color: $black;
}

.social__link::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.social__link--vk::before {
  background: url("../img/icon-social-vk.png") no-repeat;
}

.social__link--in::before {
  background: url("../img/icon-social-in.png") no-repeat;
}

.social__link--yt::before {
  background: url("../img/icon-social-yt.png") no-repeat;
}

.page-footer-desc {
  width: 82%;
  margin: 0 auto;
  font-size: 20px;
}

.page-footer-desc a {
  color: $black;
  font-weight: bold;
  text-decoration: underline;
}

.page-footer-desc span {
  font-weight: bold;
}

@media (max-width: 425px) {
  .page-footer__title {
    font-size: 24px;
  }

  .social__link {
    font-size: 18px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .page-footer-desc {
    font-size: 18px;
  }
}
