.page-header {
  font-weight: bold;
  color: $white;
}

.page-header__top {
  min-height: 214px;
  display: flex;
}

.page-header__logo-wrap {
  width: 37%;
  min-height: 214px;
  background: #4cb62c url("../img/header-logo.png") no-repeat 50%;
}

.page-header__user-panel {
  width: 63%;
  padding-top: 31px;
  padding-left: 50px;
  background: url("../img/header-top-bg.jpg");
}

.page-header__bottom {
  min-height: 465px;
  padding-top: 60px;
  padding-left: 50px;
  background: url("../img/header-bg.jpg") no-repeat;
}

.page-header__logo-img {
  margin-bottom: 30px;
}

.page-header__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 25px;
}

.page-header__subtitle {
  width: 315px;
  margin: 0;
  margin-bottom: 34px;
  font-size: 30px;
  line-height: 36px;
}

.page-header__subscride {
  display: block;
  width: 160px;
  padding: 13px 0;
  text-align: center;
  color: $white;
  background: #ffa800;
}

@media (max-width: 425px) {
  .page-header__top {
    display: block;
  }

  .page-header__logo-wrap {
    width: 100%;
    min-height: 90px;
  }

  .page-header__user-panel {
    height: 216px;
    padding-left: 25px;
    width: 100%;
  }

  .page-header__bottom {
    min-height: 425px;
    padding: 0 25px;
    padding-top: 30px;
    background-position: 65%;
  }

  .page-header__subtitle {
    width: 300px;
  }
}
